[Decadac Channel Labels]
0 = qubit 0 gate (ch0 BoB-13)
1 = qubit 1 gate (ch1 BoB-17)
2 = qubit 2 gate (ch4 BoB-14)
3 = qubit 3 gate (ch8 BoB-16)

[Decadac Range]
min_volt = -10
max_volt = 10

[Decadac Channel Limits]
0 = -5 5
1 = -5 5
2 = -5 5
3 = -5 5 

[Decadac Channel Ramp Setttings]
0 = 0.01 0.5
1 = 0.01 0.5
2 = 0.01 0.5
3 = 0.01 0.5