[Channel Parameters]
topo bias channel = 44

[QDac Channel Labels]
44 = topo bias (BNC 44)

8 = bla
4 = Topo Left Cutter (BNC-4)
5 = Topo Left Dot Outer Plunger (BNC-5)
22 = Topo Left Dot Inner Plunger (BNC-22)
31 = Topo Middle Cutter (BNC-31)
29 = Topo Right Dot Inner Plunger (BNC-29)
48 = Topo Right Dot Puter Plunger (BNC-48)
46 = Topo Right Cutter (BNC-46)

13 = Left Sensor Left Cutter (BNC-13)
10 = Left Sensor Plunger (BNC-10)
9 = Left Sensor Right Cutter (BNC-9)

41 = Right Sensor Left Cutter (BNC-41)
38 = Right Sensor Plunger (BNC-38)
34 = Right Sensor Right Cutter (BNC-34)

23 = Backgate (BNC-23)

32 = time

[Channel ranges]

8= -1 1 
44= -0.5 0.5
4 = -5 5
5 = -5 5
22 = -5 5
31 = -5 5
29 = -5 5
48 = -10 10
46 = -5 5
13 = -5 5
10 = -5 5
9 = -5 5
41 = -5 5
38 = -8 5
34 = -8 5
23 = -10 5

[Gain settings]

iv topo gain = 1e7
iv right gain = 1e7
iv left gain = 1e7
ac factor topo = 1e4
ac factor right = 1e4
ac factor left = 1e4
dc factor topo = 1e2
dc factor right = 1e2
dc factor left = 1e2

[Ramp speeds]
max rampspeed qdac = 0.4
max rampspeed bias = 0.4e-2
max rampspeed bg = 0.1
