[Channel Parameters]
topo bias channel = 9

[QDac Channel Labels]
9 = Topo Bias (BNC-9)
6 = Topo Left Cutter (BNC-6)
5 = Topo Left Dot Plunger (BNC-5)
1 = Topo Left Damper (BNC-1)
31 = Topo Middle Cutter (BNC-31)
46 = Topo Right Damper (BNC-50)
48 = Topo Right Plunger (BNC-48)
45 = Topo Right Cutter (BNC-49)
42 = Topo Right Cutter (BNC-42)
18 = Left Sensor Left Cutter (BNC-18)
17 = Left Sensor Plunger (BNC-17)
8 = Left Sensor Right Cutter (BNC-8)
13 = Backgate (BNC-13)


[Channel ranges]

18 = -5 5
17 = -5 5
8 = -5 5
9 = -5 5 
6 = -5 5
5 = -5 5
1 = -5 5
31 = -5 5
46 = -5 5
48 = -5 5
49 = -5 5
42 = -5 5
13 = -5 5




[Gain settings]

iv topo gain = 1e7
iv right gain = 1e7
iv left gain = 1e7
ac factor topo = 1e5
ac factor right = 1e5
ac factor left = 1e5
dc factor topo = 1e3
dc factor right = 1e3
dc factor left = 1e3

[Ramp speeds]
max rampspeed qdac = 0.4
max rampspeed bias = 0.4e-2
max rampspeed bg = 0.1
